@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
h1 {
  text-align: center;
  font-size: 50px;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 15px;
  margin-top: 0px;
}
.p1 {
  text-align: center;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 15px;
}
.modal-dialog{
  position: fixed;
  right: 0px;
}
li {
  list-style: none;
}
.clickig {
}
body, html {
    height: 100%;
    margin: 0;
}
body {
    background-image: url("noah-silliman-138030.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
